.block {
  width: 1440px;
  height: 342px;
  display: flex;
  margin:0 auto;

}

.block__blue {
  width: 720px;
  background-color: #6888ff;
  font-family: "Quicksand";
  font-style: normal;
  color: #ffffff;
  text-align: right;
  img {
    margin-right: 90px;
    margin-top: 66px;
  }
  h2 {
    padding: 24px 90px 20px 0px;
    font-weight: 400;
    font-size: 48px;
    margin-bottom: 0;
  }
  p {
    float: right;
    width: 260px;
    margin-right: 90px;
    font-weight: 500;
    font-size: 18px;
  }
}


.block__white{
    width: 720px;
  background-color: #E9EFFF  ;
  font-family: "Quicksand";
  font-style: normal;
  color: #5E80FF;
  img{
    margin-top: 65px;
    margin-left: 90px;
  }
  h2{
    padding: 24px 0px 20px 90px;
    font-weight: 400;
    font-size: 48px;
    margin-bottom: 0;
  }
  p {
    
    width: 260px;
    margin-left: 90px;
    font-weight: 500;
    font-size: 18px;
  }
}