body {
  margin: 0;
  padding: 0;
}

header {
  width: 1440px;
  height: 80px;
  display: flex;
  margin: 0 auto;
}

.header__circle {
  width: 26px;
  height: 26px;
  background-color: #5e81fe;
  border-radius: 50%;
  display: inline-block;
  margin: 1.5em 0em 0em 5em;
}

.header__nav-menu {
  display: inline-block;
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  margin: 1.5em 0px 0px 10em;
}
.header__nav-menu ul {
  list-style-type: none;
  display: flex;
  padding: 0;
}
.header__nav-menu ul a {
  text-decoration: none;
  padding-right: 3em;
}

.header__social-media-menu {
  display: inline-block;
  margin: 0.8em 0em 0em 20em;
}
.header__social-media-menu ul {
  list-style-type: none;
  display: flex;
}
.header__social-media-menu ul a {
  padding-right: 2em;
}

.header__button {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  display: inline-block;
  width: 113px;
  height: 43px;
  background-color: #d2e1ff;
  margin: 0.8em 0em 0em 2em;
  text-align: center;
}
.header__button a {
  text-decoration: none;
  color: #3a79ff;
  line-height: 40px;
}

.productivity {
  width: 1440px;
  height: 570px;
  margin: 0 auto;
  position: relative;
  background-image: url(/img/svg/main/productivity.svg);
}

.productivity__info {
  width: 583px;
  position: absolute;
  text-align: center;
  margin-left: 32.2%;
  margin-top: 5%;
  color: #3d4f9f;
  font-style: normal;
}
.productivity__info h3 {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 10px;
}
.productivity__info h1 {
  margin: 0;
  font-family: "Quicksand";
  font-weight: 300;
  font-size: 48px;
}
.productivity__info p {
  width: 456px;
  margin-left: 5em;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  color: #8d96bd;
}

.productivity__button {
  width: 52px;
  height: 52px;
  background: #ffffff;
  margin-left: 46%;
  border-radius: 50%;
  margin-top: 10%;
}
.productivity__button img {
  margin-top: 38%;
  margin-left: 5%;
}

.productivity__nav {
  margin-top: 510px;
  margin-left: 50%;
  position: absolute;
}

.company {
  height: 145px;
}

.company__list {
  width: 850px;
  list-style-type: none;
  display: flex;
  margin-left: 27%;
  align-items: center;
  justify-content: center;
}
.company__list li {
  margin-top: 4%;
  padding-right: 8%;
}

.plan-and-manage {
  height: 776px;
  width: 1440px;
  display: flex;
  background: #f5f8ff;
  margin: 0 auto;
}

.plan-and-manage__about {
  width: 413px;
  height: 352px;
  margin: 208px 0px 216px 271px;
  color: #3d4f9f;
}
.plan-and-manage__about h3 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
}
.plan-and-manage__about h1 {
  font-family: "Quicksand";
  font-weight: 900;
  font-size: 36px;
  font-weight: bold;
}
.plan-and-manage__about p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  color: #8d96bd;
  line-height: 29px;
}

.plan-and-manage__button {
  width: 260px;
  height: 43px;
  display: flex;
  text-align: center;
  margin-top: 5em;
}

.plan-and-manage__button--wiew {
  width: 130px;
  height: 43px;
  background: #4c85ff;
  border: 1px solid #4c85ff;
  display: inline-block;
}
.plan-and-manage__button--wiew a {
  text-decoration: none;
  color: white;
  line-height: 40px;
}

.plan-and-manage__button--see {
  width: 130px;
  height: 43px;
  opacity: 0.5;
  border: 1px solid #d1d1e4;
}
.plan-and-manage__button--see a {
  text-decoration: none;
  color: #adb4d2;
  line-height: 40px;
}

.plan-and-manage__image {
  width: 670px;
  height: 500px;
  display: relative;
}

.plan-and-manage__image--desktop {
  margin-top: 170px;
  margin-right: 81px;
  position: absolute;
}
.plan-and-manage__image--desktop img {
  height: 500px;
}

.plan-and-manage__image--mobile-first {
  position: absolute;
  margin-top: 240px;
  margin-left: 395px;
}
.plan-and-manage__image--mobile-first img {
  width: 261px;
}

.plan-and-manage__image--mobile-second {
  position: absolute;
  margin-top: 230px;
  margin-left: 85px;
}
.plan-and-manage__image--mobile-second img {
  width: 165px;
}

.read-about {
  width: 1441px;
  height: 885px;
  background-image: url(/img/svg/read-about/background__1.svg);
  background-repeat: no-repeat;
  margin: 0 auto;
  text-align: center;
  color: #3d4f9f;
  position: absolute;
}

.read-about__content {
  width: 1000px;
  height: 573px;
  margin: 0 auto;
  margin-top: 110px;
}

.read-about__header--h3 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
}

.read-about__header--h2 {
  font-family: "Quicksand";
  font-weight: 500;
  font-size: 24px;
}

.read-about__list {
  list-style-type: none;
  display: flex;
  margin-left: 140px;
  text-align: center;
}
.read-about__list img {
  margin-top: 92px;
}
.read-about__list h3 {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  margin-top: 2em;
  color: #4074f8;
}
.read-about__list p {
  width: 102px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  text-align: center;
  color: #adb3cb;
  margin-top: 25px;
}
.read-about__list li {
  padding-right: 70px;
}

.read-about__button {
  display: flex;
  align-items: center;
  margin-left: 320px;
}
.read-about__button p {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  margin-top: 104px;
  margin-left: 48px;
  margin-right: 48px;
  color: #ADB3CB;
}

.read-about__button--red {
  width: 113px;
  height: 43px;
  background: #ffd7d7;
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  color: #d43f3f;
  margin-top: 92px;
}
.read-about__button--red a {
  text-decoration: none;
  color: #d43f3f;
  line-height: 40px;
}

.read-about__button--blue {
  width: 113px;
  height: 43px;
  background: #ffd7d7;
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  background: #D2E1FF;
  margin-top: 92px;
}
.read-about__button--blue a {
  text-decoration: none;
  color: #3A79FF;
  line-height: 40px;
}