* {
  margin: 0;
  padding: 0;
}

footer {
  width: 1440px;
  height: 80px;
  display: flex;
  margin: 0 auto;
}

header {
  width: 1440px;
  height: 80px;
  display: flex;
  margin: 0 auto;
}

.header__circle {
  width: 26px;
  height: 26px;
  background-color: #5e81fe;
  border-radius: 50%;
  display: inline-block;
  margin: 1.5em 0em 0em 5em;
}

.header__nav-menu {
  display: inline-block;
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  margin: 1.5em 0px 0px 10em;
}
.header__nav-menu ul {
  list-style-type: none;
  display: flex;
  padding: 0;
}
.header__nav-menu ul a {
  text-decoration: none;
  padding-right: 3em;
}

.header__social-media-menu {
  display: inline-block;
  margin: 0.8em 0em 0em 20em;
}
.header__social-media-menu ul {
  list-style-type: none;
  display: flex;
}
.header__social-media-menu ul a {
  padding-right: 2em;
}

.header__button {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  display: inline-block;
  width: 113px;
  height: 43px;
  background-color: #d2e1ff;
  margin: 0.8em 0em 0em 2em;
  text-align: center;
}
.header__button a {
  text-decoration: none;
  color: #3a79ff;
  line-height: 40px;
}

.productivity {
  width: 1440px;
  height: 570px;
  margin: 0 auto;
  position: relative;
  background-image: url(/img/svg/main/productivity.svg);
}

.productivity__info {
  width: 583px;
  position: absolute;
  text-align: center;
  margin-left: 32.2%;
  margin-top: 5%;
  color: #3d4f9f;
  font-style: normal;
}
.productivity__info h3 {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 10px;
}
.productivity__info h1 {
  margin: 0;
  font-family: "Quicksand";
  font-weight: 300;
  font-size: 48px;
}
.productivity__info p {
  width: 456px;
  margin-left: 5em;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  color: #8d96bd;
}

.productivity__button {
  width: 52px;
  height: 52px;
  background: #ffffff;
  margin-left: 46%;
  border-radius: 50%;
  margin-top: 10%;
}
.productivity__button img {
  margin-top: 38%;
  margin-left: 5%;
}

.productivity__nav {
  margin-top: 510px;
  margin-left: 50%;
  position: absolute;
}

.company {
  height: 145px;
}

.company__list {
  width: 850px;
  list-style-type: none;
  display: flex;
  margin-left: 27%;
  align-items: center;
  justify-content: center;
}
.company__list li {
  margin-top: 4%;
  padding-right: 8%;
}

.plan-and-manage {
  height: 776px;
  width: 1440px;
  display: flex;
  background: #f5f8ff;
  margin: 0 auto;
}

.plan-and-manage__about {
  width: 413px;
  height: 352px;
  margin: 208px 0px 216px 271px;
  color: #3d4f9f;
}
.plan-and-manage__about h3 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
}
.plan-and-manage__about h1 {
  font-family: "Quicksand";
  font-weight: 900;
  font-size: 36px;
  font-weight: bold;
}
.plan-and-manage__about p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  color: #8d96bd;
  line-height: 29px;
}

.plan-and-manage__button {
  width: 260px;
  height: 43px;
  display: flex;
  text-align: center;
  margin-top: 5em;
}

.plan-and-manage__button--wiew {
  width: 130px;
  height: 43px;
  background: #4c85ff;
  border: 1px solid #4c85ff;
  display: inline-block;
}
.plan-and-manage__button--wiew a {
  text-decoration: none;
  color: white;
  line-height: 40px;
}

.plan-and-manage__button--see {
  width: 130px;
  height: 43px;
  opacity: 0.5;
  border: 1px solid #d1d1e4;
}
.plan-and-manage__button--see a {
  text-decoration: none;
  color: #adb4d2;
  line-height: 40px;
}

.plan-and-manage__image {
  width: 670px;
  height: 500px;
  display: relative;
}

.plan-and-manage__image--desktop {
  margin-top: 170px;
  margin-right: 81px;
  position: absolute;
}
.plan-and-manage__image--desktop img {
  height: 500px;
}

.plan-and-manage__image--mobile-first {
  position: absolute;
  margin-top: 240px;
  margin-left: 395px;
}
.plan-and-manage__image--mobile-first img {
  width: 261px;
}

.plan-and-manage__image--mobile-second {
  position: absolute;
  margin-top: 230px;
  margin-left: 85px;
}
.plan-and-manage__image--mobile-second img {
  width: 165px;
}

.read-about {
  width: 1440px;
  height: 885px;
  background-image: url(/img/svg/read-about/background__1.svg);
  background-repeat: no-repeat;
  margin: 0 auto;
  text-align: center;
  color: #3d4f9f;
}

.read-about__content {
  width: 1000px;
  height: 573px;
  margin: 0 auto;
  margin-top: 110px;
}

.read-about__header--h3 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
}

.read-about__header--h2 {
  font-family: "Quicksand";
  font-weight: 500;
  font-size: 24px;
}

.read-about__list {
  list-style-type: none;
  display: flex;
  margin-left: 140px;
  text-align: center;
}
.read-about__list img {
  margin-top: 92px;
}
.read-about__list h3 {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  margin-top: 2em;
  color: #4074f8;
}
.read-about__list p {
  width: 102px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  text-align: center;
  color: #adb3cb;
  margin-top: 25px;
}
.read-about__list li {
  padding-right: 70px;
}

.read-about__button {
  display: flex;
  align-items: center;
  margin-left: 320px;
}
.read-about__button p {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  margin-top: 104px;
  margin-left: 48px;
  margin-right: 48px;
  color: #ADB3CB;
}

.read-about__button--red {
  width: 113px;
  height: 43px;
  background: #ffd7d7;
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  color: #d43f3f;
  margin-top: 92px;
}
.read-about__button--red a {
  text-decoration: none;
  color: #d43f3f;
  line-height: 40px;
}

.read-about__button--blue {
  width: 113px;
  height: 43px;
  background: #ffd7d7;
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  background: #D2E1FF;
  margin-top: 92px;
}
.read-about__button--blue a {
  text-decoration: none;
  color: #3A79FF;
  line-height: 40px;
}

.block {
  width: 1440px;
  height: 342px;
  display: flex;
  margin: 0 auto;
}

.block__blue {
  width: 720px;
  background-color: #6888ff;
  font-family: "Quicksand";
  font-style: normal;
  color: #ffffff;
  text-align: right;
}
.block__blue img {
  margin-right: 90px;
  margin-top: 66px;
}
.block__blue h2 {
  margin-right: 90px;
  font-weight: 400;
  font-size: 48px;
  margin-bottom: 0;
}
.block__blue p {
  float: right;
  width: 260px;
  margin-right: 90px;
  font-weight: 500;
  font-size: 18px;
}

.block__white {
  width: 720px;
  background-color: #E9EFFF;
  font-family: "Quicksand";
  font-style: normal;
  color: #5E80FF;
}
.block__white img {
  margin-top: 65px;
  margin-left: 90px;
}
.block__white h2 {
  margin-left: 90px;
  font-weight: 400;
  font-size: 48px;
  margin-bottom: 0;
}
.block__white p {
  width: 260px;
  margin-left: 90px;
  font-weight: 500;
  font-size: 18px;
}

.our-resources {
  width: 1440px;
  height: 865px;
  margin: 0 auto;
  background-color: #f5f8ff;
  font-weight: 500;
  text-align: center;
}
.our-resources h3 {
  font-family: "Roboto";
  font-style: normal;
  font-size: 10px;
  color: #3d4f9f;
  padding-top: 104px;
}
.our-resources h2 {
  font-family: "Quicksand";
  font-style: normal;
  font-size: 24px;
  color: #3d4f9f;
  padding-top: 20px;
}

.our-resources__scroll {
  display: flex;
  margin-top: 92px;
}

.our-resources__scrollLeft {
  margin-left: 143px;
  margin-right: 75px;
}

.our-resources__scrollRight {
  margin-right: 143px;
  margin-left: 75px;
}

.our-resources__scrollSlides {
  width: 958px;
  height: 394px;
  background-color: white;
  display: flex;
}

.our-resources__scrollSlides__img {
  height: 267px;
  display: flex;
  margin-top: 63px;
  margin-left: 35px;
}
.our-resources__scrollSlides__img img {
  border-radius: 2%;
}

.our-resources__scrollSlides__imgContainer {
  width: 126px;
  margin-left: 12px;
}
.our-resources__scrollSlides__imgContainer img {
  padding-bottom: 10px;
}

.our-resources__scrollSlides__info {
  width: 408px;
  height: 267px;
  float: left;
  text-align: left;
  margin-left: 67px;
  margin-top: 63px;
}
.our-resources__scrollSlides__info h3 {
  padding: 0;
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
}
.our-resources__scrollSlides__info p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #8d96bd;
  line-height: 27px;
  margin-top: 32px;
}

.our-resources__scrollButtons {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  display: flex;
  margin-top: 38px;
}
.our-resources__scrollButtons a {
  text-decoration: none;
}

.scrollButtons__buttonFirst {
  text-decoration: none;
  text-align: center;
  width: 113px;
  height: 43px;
  background: #d2e1ff;
  color: #3a79ff;
  line-height: 40px;
  border-radius: 2px;
}
.scrollButtons__buttonFirst a {
  color: #3a79ff;
}

.scrollButtons__buttonSecond {
  text-decoration: none;
  text-align: center;
  margin-left: 23px;
  line-height: 40px;
}
.scrollButtons__buttonSecond a {
  color: #A6B6DA;
}

.our-resources__nav {
  margin-top: 101px;
}

.customers {
  width: 1440px;
  height: 479px;
  background: linear-gradient(180deg, #eaf0ff 0%, #f6f9ff 100%);
  display: flex;
  margin: 0 auto;
}

.customers__info {
  width: 333px;
  color: #3d4f9f;
  margin: 146px 0px 0px 276px;
}
.customers__info h3 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  margin-bottom: 31px;
}
.customers__info h2 {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  margin-bottom: 14px;
}
.customers__info p {
  width: 250px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 23px;
  color: #a4abc8;
}

.customers__comment {
  width: 423px;
  height: 175px;
  background: #ffffff;
  margin: 109px 0px 0px 132px;
}

.customers__commentInfo {
  color: #676F95;
}
.customers__commentInfo p {
  margin: 41px 71px 0px 69px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}

.customers__img {
  padding: 30px 180px;
  width: 62px;
  height: 62px;
}

.customers__nav {
  margin: 78px 0px 0px 150px;
}

.customer-help {
  width: 1440px;
  height: 964px;
  text-align: center;
  margin: 0 auto;
}
.customer-help h3 {
  padding: 177px 0px 20px 0px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  color: #3d4f9f;
}
.customer-help h2 {
  padding: 0px 0px 68px 0px;
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  color: #3d4f9f;
}

.customer-help__list {
  margin: 0 auto;
  text-align: left;
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 19px;
  color: #8e96b7;
  width: 743px;
}
.customer-help__list p {
  width: 391px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 27px;
  color: #8d96bd;
  margin: 16px 0px 53px 42px;
}
.customer-help__list summary {
  display: inline-block;
  padding: 0.3em 0.6em 0.3em 1.5em;
  font-size: 1.4em;
  cursor: pointer;
  position: relative;
}
.customer-help__list summary:before {
  left: 0.3em;
  top: 0.4em;
  color: transparent;
  background: url("/img/svg/customers/listIcon.svg") no-repeat 50% 50%/14px 7px;
  width: 1em;
  height: 1em;
  content: "";
  position: absolute;
  transition: transform 0.5s;
}
.customer-help__list details[open] > summary:before {
  transform: rotateZ(180deg);
}
.customer-help__list summary ~ * {
  padding: 0 1em 0 1em;
}
.customer-help__list details[open] summary ~ * {
  animation: sweep 0.5s ease-in-out;
}
@keyframes sweep {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.customer-help__list summary:focus {
  outline: 0;
  box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.3), inset 0 0 2px rgba(0, 0, 0, 0.3);
}
.customer-help__list details {
  display: block;
  margin-bottom: 1.5rem;
  padding-bottom: 15px;
  border: 0;
  border-bottom: 1px solid #d8e3fe;
}

.list__info {
  display: flex;
}

.list__link {
  width: 195px;
  height: 43px;
  background: #e8ecf4;
  border-radius: 2px;
  text-align: center;
  margin-top: 1em;
  margin-left: 6em;
}
.list__link a {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  text-decoration: none;
  color: #7382A3;
  line-height: 40px;
}

.get-started {
  width: 1440px;
  height: 447px;
  background-image: url(/img/svg/get-started/backgroundImg.svg);
  margin: 0 auto;
  color: #ffffff;
  text-align: center;
}
.get-started h3 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  padding: 92px 0px 16px 0px;
}
.get-started h2 {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 300;
  font-size: 48px;
  line-height: 60px;
  padding-bottom: 28px;
}
.get-started p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 29px;
  width: 712px;
  margin: 0 auto;
}

.get-started__buttons {
  display: flex;
  margin-left: 40%;
  margin-top: 40px;
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
}

.get-started__buttons--white {
  width: 130px;
  height: 43px;
  background-color: white;
  border: 1px solid #A0B4FF;
  line-height: 40px;
}
.get-started__buttons--white a {
  text-decoration: none;
  color: #565f82;
}

.get-started__buttons--blue {
  width: 155px;
  height: 43px;
  border: 1px solid #A0B4FF;
  line-height: 40px;
}
.get-started__buttons--blue a {
  text-decoration: none;
  color: #C7D3FF;
}

.sign-up {
  width: 1440px;
  height: 332px;
  margin: 0 auto;
  display: flex;
  background: #FCFDFF;
}

.sign-up__info {
  padding: 118px 0px 0px 276px;
  width: 330px;
}
.sign-up__info h2 {
  margin-bottom: 18px;
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #3d4f9f;
}
.sign-up__info p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 27px;
  color: #8d96bd;
}

.sign-up__send {
  display: flex;
}

.sign-up__input {
  display: block;
  width: 279px;
  height: 59px;
  margin: 136px 0px 0px 85px;
  color: #212529;
  background-clip: padding-box;
  border: 1px solid #bdbdbd;
  border-radius: 0.25rem;
  background: #efeff7;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.sign-up__input::placeholder {
  padding-left: 23px;
  color: #212529;
  opacity: 0.4;
}

.sign-up__buton {
  width: 184px;
  height: 59px;
  background: #4d6ce1;
  box-shadow: 0px 5px 15px rgba(116, 104, 255, 0.2);
  border-radius: 5px;
  text-align: center;
  margin: 136px 0px 0px 14px;
}
.sign-up__buton a {
  text-decoration: none;
  color: #c7d3ff;
  line-height: 55px;
}