body {
  margin: 0;
  padding: 0;
}

header {
  width: 1440px;
  height: 80px;
  display: flex;
  margin: 0 auto;
}

.header__circle {
  width: 26px;
  height: 26px;
  background-color: #5e81fe;
  border-radius: 50%;
  display: inline-block;
  margin: 1.5em 0em 0em 5em;
}

.header__nav-menu {
  display: inline-block;
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  margin: 1.5em 0px 0px 10em;
}
.header__nav-menu ul {
  list-style-type: none;
  display: flex;
  padding: 0;
}
.header__nav-menu ul a {
  text-decoration: none;
  padding-right: 3em;
}

.header__social-media-menu {
  display: inline-block;
  margin: 0.8em 0em 0em 20em;
}
.header__social-media-menu ul {
  list-style-type: none;
  display: flex;
}
.header__social-media-menu ul a {
  padding-right: 2em;
}

.header__button {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  display: inline-block;
  width: 113px;
  height: 43px;
  background-color: #d2e1ff;
  margin: 0.8em 0em 0em 2em;
  text-align: center;
}
.header__button a {
  text-decoration: none;
  color: #3a79ff;
  line-height: 3.2em;
}

.productivity {
  width: 1440px;
  height: 570px;
  margin: 0 auto;
  position: relative;
  background-image: url(/img/svg/main/productivity.svg);
}

.productivity__info {
  width: 583px;
  position: absolute;
  text-align: center;
  margin-left: 32.2%;
  margin-top: 5%;
  color: #3d4f9f;
  font-style: normal;
}
.productivity__info h3 {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 10px;
}
.productivity__info h1 {
  margin: 0;
  font-family: "Quicksand";
  font-weight: 300;
  font-size: 48px;
}
.productivity__info p {
  width: 456px;
  margin-left: 5em;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  color: #8d96bd;
}

.productivity__button {
  width: 52px;
  height: 52px;
  background: #ffffff;
  margin-left: 46%;
  border-radius: 50%;
  margin-top: 10%;
}
.productivity__button img {
  margin-top: 38%;
  margin-left: 5%;
}

.productivity__nav {
  margin-top: 510px;
  margin-left: 50%;
  position: absolute;
}